body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-size: cover;
}

header, .title, .block1, .block2, .block3, .block4, footer{
  width: 100%;
}

header {
  padding: 20px;
  background-color: forestgreen;
}

header .header-line {
  display: flex;
  align-items: center;
}

.size {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header .header-wrapper {
  color: white;
  display: flex;
  width: calc(100% - 70px);
  justify-content: space-between;
  align-items: center;
}

header .img-che {
  transform: scale(1.1);
  border-radius: 50px;
  width: 5%;
  padding: 20 0 0;
}

header .img-che:hover {
  transform: scale(1.5);
  transition-property: rgb(39, 54, 104);
}

header a:hover
{
  text-decoration: underline;
  color: greenyellow;
}

footer a:hover
{
  text-decoration: underline;
  color: greenyellow;
}

h1,
h2,
a,
p,
.title,
.right-side-title,
.right-side-h2 {
  align-items: center;
  font-family: Montserrat, sans-serif;
}

main .title {
  background: url('./images/angel.jpg');
  font-family: Montserrat, sans-serif;
  height: 300px;
}

main .block1,
.block2,
.block3,
.block4 {
  display: flex;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
}

main .block1 {
  background-color: lightgreen;
}

main .block2 {
  background-color: lightblue;
}

main .block3 {
  background-color: rgb(77, 177, 207);
  padding: 10;
  text-align: justify;
  justify-content: space-between;
}

main .block4 {
  background-color: aquamarine;
}

main .text1-left,
.text1-right {
  width: 50%;
  text-align: center;
}

main .block3-text-left,
.block3-text-right,
.block3-h1,
.block4-left,
.block4-center,
.block4-right {
  width: 33%;
  text-align: center;
}

.block3-h1 {
  padding: 90 0;
}

main .image {
  width: 50%;
  height: 30%;
  margin: 20px;
}

footer {
  background-color: cadetblue;
}

footer .footer-menu {
  display: flex;
  height: 160px;
}

.nav-footer,
.nav-header {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  width: 30%;
  padding: 0 150px
}

.nav-footer {
  display: grid;
}

a {
  font-size: 20px;
  margin: 0 20px;
  line-height: 1.5;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.social-wrapper {
  position: absolute;
  width: 40px;
  height: 150px;
  right: 20px;
  padding: 10px 30px;
}

.social {
  height: 30px;
  cursor: pointer;
  margin-bottom: 7px;
}

.cprt {
  width: 100%;
  text-align: center;
}

@media (min-width: 600px) and (max-width: 1000px) {
  body {
    background-color: grey;
  }
}

@media (min-width: 100px) and (max-width: 600px) {
  body {
    background-color: rgb(42, 94, 107);
  }
}

body a:link, a:visited, a:hover {
  color: #0e3f12;
}
body .arrow-up {
  font-size: 15px; 
  float: right;
  color: #0e3f12;
}
body .arrow-up:hover {
  text-decoration: underline;
  color: rgb(131, 9, 9);
}
