body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background: url(./images/Архип\ Куинджи\ -\ Эльбрус.\ Лунная\ ночь..jpg);
  background-attachment: fixed;
}

header, .title, .block1, .block2, .block3, .block4, footer{
  width: 100%;
}

header {
  /* padding: 20px; */
  background-color: #607d8b;
  height: 90px;
}

header .header-line {
  display: flex;
  align-items: center;
  height: 100%;
}

header .button-menu {
  display: none;
  width: 0px;
  padding: 20px;
}
header .button-menu img {
  width: 30px;
}

header .header-wrapper {
  color: white;
  display: flex;
  width: calc(100% - 70px);
  justify-content: space-between;
  /* align-items: center; */
}

header .img-che {
  /* transform: scale(1.1); */
  border-radius: 90px;
  width: 140px;
  margin-top: 14px;
  /* padding: 20 0 0; */
  /* margin-top: 30px; */
}

header .img-che:hover {
  transform: scale(1.1);
  transition-property: rgb(39, 54, 104);
}

header a:hover
{
  /* text-decoration: underline; */
  color: whitesmoke;
}

footer a:hover
{
  /* text-decoration: underline; */
  color: whitesmoke;
}

main .title {
  /* background: url('./images/angel.jpg'); */
  background: url('./images/never-give-up.png') no-repeat;
  /* background-attachment: fixed; */
  font-family: Montserrat, sans-serif;
  height: 330px;
  background-size: cover;
  text-shadow: 2px 2px rgb(44 255 177 / 90%);
}

.size {
  max-width: 1024px;
  /* height: calc(100% - 130px); */
  height: 100%;
  width: 100%;
  /* margin: 0 auto; */
  padding: 130px 0 0 20px;
}

h1,
h2,
a,
p,
/* .title, */
.right-side-title,
.right-side-h2 {
  align-items: center;
  font-family: Montserrat, sans-serif;
}
h1 {
  margin-top: 0px;
  padding-top: 10px;
}

main .block1,
.block2,
.block3,
.block4 {
  display: flex;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
}

main .block1 {
  background-color: lightgreen;
}

main .block2 {
  background-color: lightblue;
}

main .block3 {
  background-color: rgb(77, 177, 207);
  padding: 10;
  text-align: justify;
  justify-content: space-between;
}

main .block4 {
  background-color: aquamarine;
}

main .text1-left,
.text1-right {
  width: 50%;
  text-align: center;
}

main .block3-text-left,
.block3-text-right,
.block3-h1,
.block4-left,
.block4-center,
.block4-right {
  width: 33%;
  text-align: center;
}

.block3-h1 {
  padding: 90 0;
}

main .image {
  width: 50%;
  height: 30%;
  margin: 20px;
}
main .imag {
  width: 50%;
}
/* main block1, block2 .image {
  /* width: 50%; */
  /* height: 30%; */
  /* margin: 20px; */
} */

footer {
  background-color: cadetblue;
  height: 100%;
}

footer .footer-menu {
  display: flex;
  height: 130px;
}

.nav-footer,
.nav-header {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  width: 30%;
  padding: 10px 150px
}

.nav-footer {
  display: grid;
}

a {
  font-size: 20px;
  /* margin: 0 20px; */
  padding: 20px;
  line-height: 1.5;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.social-wrapper {
  position: absolute;
  width: 40px;
  height: 150px;
  right: 20px;
  padding: 10px 30px;
}

.social {
  height: 30px;
  cursor: pointer;
  margin-bottom: 7px;
}

.cprt {
  width: 100%;
  text-align: center;
}

@media (min-width: 480px) and (max-width: 768px) {
  body {
    background-color: grey;
  }
  .img-che {
    transform: scale(0.5);
    width: 10%;
  }
}

@media screen and (max-width: 480px) {
  body {
      background-color: rgb(42, 94, 107);
    }
  
    main .title {
      background: url('./images/angel.jpg');
    }

    .img-che, .nav-header {
      display: none;
      width: 0px;
    }
    .block1, .block2, .block3, .block4{
      display: block;
    }

    header .button-menu {
      display: block;
      margin: 8px 0px;
      cursor: pointer;
      width: 30px;
    }
    
}


body a:link, a:visited, a:hover {
  color: #1b074b;
}
body .arrow-up {
  display: none;
  font-size: 15px; 
  /* float: right; */
  color: #0e3f12;
}
body .arrow-up:hover {
  text-decoration: underline;
  color: rgb(131, 9, 9);
}
